<h2>Register New Players</h2>

<form [formGroup]="registerPlayersService.form()" (ngSubmit)="registerPlayersService.submit()">
  <table>
    <thead>
    <tr>
      @for(column of registerPlayersService.columns(); track column.name) {
        <th [class.required]="column.isRequired">{{column.name}}</th>
      }
    </tr>
    </thead>

    <tbody formArrayName="players">
      @for (player of registerPlayersService.players().controls; track player) {
        <tr [formGroupName]="$index">
          <td>
            <input
              type="text"
              formControlName="name"
              placeholder="Enter name"
              [class.invalid]="player.get('name')?.invalid && player.get('name')?.touched"
            />
            @if (player.get('name')?.invalid && player.get('name')?.touched) {
              <div class="input-error">Name is required</div>
            }
          </td>

          <td class="rating">
            <input
              type="number"
              formControlName="rating"
              placeholder="0-10"
              [class.invalid]="player.get('rating')?.invalid && player.get('rating')?.touched"
            />
            @if (player.get('rating')?.invalid && player.get('rating')?.touched) {
              <div class="input-error">Rating required (0-10)</div>
            }
          </td>

          <td>
            <input type="email" formControlName="email" placeholder="Optional email" />
          </td>

          <td>
            <input type="checkbox" formControlName="isGuest" />
          </td>

          <td class="delete-row">
            <button
              type="button"
              (click)="registerPlayersService.removeRow($index)"
              [disabled]="registerPlayersService.players().length === 1"
              title="Delete row"
            >
              <img width="20px" height="20px" alt='trash' src="assets/icons/trash.svg">
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <div class="actions">
    <button class="active-btn submit-btn" type="submit" [disabled]="registerPlayersService.form().invalid">Submit</button>
    <button class="active-btn action-btn" type="button" (click)="registerPlayersService.addRow()">Add Row</button>
  </div>
</form>
