.table-container {
  width: fit-content;
  overflow-x: auto;
  border: 1px solid #ddd;
  padding: 15px 5px 5px;
}

table {
  border-collapse: collapse;
  th,
  td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: left;
  }

  td {
    vertical-align: top;
  }

  td.delete-row {
    button {
      background-color: white;
      border: none;
    }
  }
  th.required::after {
    content: '*';
    width: 20px;
    height: 20px;
    color:red;
  }
}

input.invalid {
  border: 1px solid red;
  background-color: #ffe6e6;
}

.input-error {
  font-size: 0.8rem;
  color: red;
  margin-top: 0.2rem;

  min-height: 1rem;
  display: block;
}

td input + .input-error:empty {
  visibility: hidden;
}

.actions {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

@media (max-width: 400px) {
  .table-container{
    width: 100%;

  }
  td input {
    font-size: 0.8rem;
    padding: 0.25rem;
  }

  td.rating {
    width: 40px;
    input {
      width: 40px;
    }
  }

  td.name {
    width: 80px;
    input {
      width: 80px;
    }
  }

  td.email {
    width: 90px;
    input {
      width: 90px;
    }
  }

  td.guest {
    width: 20px;
  }
  td.delete-row {
    width: 20px;
  }
}
