<div>
  <div class="center gap statistics-button">
  @if(showStatistics()) {
    <button class="action-btn" (click)="toggleShowStatistics()">Hide Statistics</button>
  } @else {
    <button class="action-btn" (click)="toggleShowStatistics()">Show Statistics</button>
  }
  @if(this.isAdminMode()) {
    <button class="action-btn" (click)="makeBalancedTeamsModalVisible.set(true)">make balanced teams</button>
  }
  </div>

  <div class="all-teams-container">
    <div class="list-container">
      <h2>A</h2>
      @if(isAdminMode()) {
        <h5>{{totalRatings().teamA}}</h5>
      }
      <div
        id="teamA"
        cdkDropList
        #teamAList="cdkDropList"
        [cdkDropListDisabled]="isGameOn()"
        [cdkDropListData]="playersService.teams().teamA.players"
        [cdkDropListConnectedTo]="[teamBList, playersList, teamCList]"
        class="list"
        (cdkDropListDropped)="drop($event)">
        @for (item of playersService.teams().teamA.players; track item) {
          <app-player-view [showStatistics]="showStatistics()" [player]="item" [isAdminMode]="isAdminMode()" appDoubleClick [doubleClickDisabled]="!isGameOn()" (doubleClicked)="openSetGoalModal($event, {player: item, team: 'teamA'})" class="box" cdkDrag></app-player-view>
        }
      </div>
    </div>

    <div class="list-container">
      <h2>B</h2>
      @if(isAdminMode()) {
        <h5>{{totalRatings().teamB}}</h5>
      }
      <div
        id="teamB"
        cdkDropList
        #teamBList="cdkDropList"
        [cdkDropListDisabled]="isGameOn()"
        [cdkDropListData]="playersService.teams().teamB.players"
        [cdkDropListConnectedTo]="[teamAList, playersList, teamCList]"
        class="list"
        (cdkDropListDropped)="drop($event)">
        @for (item of playersService.teams().teamB.players; track item) {
          <app-player-view [showStatistics]="showStatistics()" [player]="item" [isAdminMode]="isAdminMode()" appDoubleClick [doubleClickDisabled]="!isGameOn()" (doubleClicked)="openSetGoalModal($event, {player: item, team: 'teamB'})" class="box" cdkDrag></app-player-view>
        }
      </div>
    </div>

    <div class="list-container">
      <h2>C</h2>
      @if(isAdminMode()) {
        <h5>{{totalRatings().teamC}}</h5>
      }
      <div
        cdkDropList
        id="teamC"
        #teamCList="cdkDropList"
        [cdkDropListDisabled]="isGameOn()"
        [cdkDropListData]="playersService.teams().teamC.players"
        [cdkDropListConnectedTo]="[teamAList, teamBList, playersList]"
        class="list"
        (cdkDropListDropped)="drop($event)">
        @for (item of playersService.teams().teamC.players; track item) {
          <app-player-view [showStatistics]="showStatistics()" [player]="item" [isAdminMode]="isAdminMode()" appDoubleClick [doubleClickDisabled]="!isGameOn()" (doubleClicked)="openSetGoalModal($event, {player: item, team: 'teamC'})" class="box" cdkDrag></app-player-view>
        }
      </div>
    </div>
  </div>

  <h2>Players</h2>
  <div
    cdkDropList
    id="allPlayers"
    #playersList="cdkDropList"
    [cdkDropListDisabled]="isGameOn()"
    [cdkDropListData]="playersService.teams().allPlayers.players"
    [cdkDropListConnectedTo]="[teamAList, teamBList, teamCList]"
    class="box available-player"
    (cdkDropListDropped)="drop($event)">
    @for (item of playersService.teams().allPlayers.players; track item; let idx = $index) {
      <div class="player">
      @if(!isAdminMode()) {
        <div class="box" cdkDrag>{{item.name}}</div>

      } @else {
        <div class="box" cdkDrag>{{item.name}} - {{item.rating}}</div>
      }
      <span class="remove-player" (click)="removeFromList('allPlayers', idx)">X</span>
      </div>
    }
  </div>

</div>

<div
  class="set-goal-modal"
  *ngIf="isSetGoalModalVisible()"
  [ngStyle]="{'top.px': modalPosition().y, 'left.px': modalPosition().x}">

  <div>Goals: {{getGoalModalDataByPlayer()}}</div>
  <div class="goal-set-container">
    <button (click)="setGoalModalClicked(true)">+</button>
    <button (click)="setGoalModalClicked(false)">-</button>
    <button (click)="setGoals()">set</button>
  </div>
</div>


@if(makeBalancedTeamsModalVisible()) {
  <app-modal (submit)="closeAuditTrailModal(true)" (close)="closeAuditTrailModal(false)">
    <div>Are you sure you want to change teams?</div>
  </app-modal>
}
