<div class="matches-container">
  <h2>Matches Timeline</h2>

  <div class="date-selector">
    <label for="date-select">Select Date: </label>
    <select id="date-select" [ngModel]="matchesService.selectedDate()" (change)="matchesService.onDateChange($event)">
      @for (date of matchesService.availableDates(); track date) {
      <option [value]="date">{{ date }}</option>
      }
    </select>
  </div>

  <div class="flip-cards">
    @if (matchesService.flipCardsData().length === 0) {
    <p class="no-matches">No matches found for selected date.</p>
    } @else {
    @for (card of matchesService.flipCardsData(); track card) {
    <div class="card">
      <lib-flip-card [backContent]="card.data" [frontContent]="card.frontContent" [backStyle]="backStyle"
        [frontStyle]="frontStyle" [width]="'350px'" [height]="'350px'"></lib-flip-card>
    </div>
    }
    }
  </div>
</div>
