:host {
  display: block;
  padding: 20px 0;
}

section {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
}

app-inner-tabs {
  display: flex;
  justify-content: center;
  width: 100%;
}
