:host {
  display: block;
  padding: 20px 0;
}

section {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
}

.statistic-links {
  margin-bottom: 10px;
  .statistic-link {
    width: 145px;
  }

}
