<div class="center gap">
<h2>Players Statistics</h2>
<select (change)="statisticsService.setSelectedDate($event)">
  @for(date of statisticsService.allUniqueDates(); track date) {
    <option [value]="date">{{date}}</option>
  }
</select>
</div>

<div class="center gap-10 statistic-links">
  <a routerLinkActive="active" class="active-btn link-btn statistic-link" routerLink="table">Table</a>
  <a routerLinkActive="active" class="active-btn link-btn statistic-link" routerLink="team-of-the-week">Team Of The Week</a>
  @if(statisticsService.adminControl.getAdminControl().showProtectedPages) {
    <a routerLinkActive="active" class="active-btn link-btn statistic-link" routerLink="edit-statistics">Edit Statistics</a>
  }
</div>
<router-outlet></router-outlet>

