:host {
  display: block;
}

.games-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 1rem auto;
  max-width: 780px;
}

.center {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
