<div class="center">
  <label>
    show guests
    <input type="checkbox" [checked]="playersStatisticsTableService.showGuests()" (change)="playersStatisticsTableService.showGuests.set($any($event.target).checked)">
  </label>
</div>

<div class="stats-grid">
  <app-grid
    [changeToListInSmallScreens]="false"
    [showPaginator]="false"
    [config]="playersStatisticsTableService.config()"
    [columns]="playersStatisticsTableService.columns()"
    [dataRows]="playersStatisticsTableService.dataRows()"
    [actions]="playersStatisticsTableService.actions()"/>
</div>
