@if(adminControlService.isAdminModeEnabled()) {
  <div class="center">
    <button class="action-btn active-btn" (click)="adminControlService.cleanAdminControlState()">Revert admin mode</button>
  </div>
}
<div class="in-row center gap">
  <h1 >Teams</h1>
</div>

<div class="space-between save-buttons gap">
  @if(adminControlService.getAdminControl().showSaveButtons) {
    <div>
      <button (click)="load()">Load local data</button>
      <button (click)="save()">Save local data </button>
    </div>
      <button (click)="saveGlobal()">Save Global</button>
  }
</div>

<div class="audit-trail-button">
  <button class="button-icon" (click)="isAuditTrailModalVisible.set(true)">
    <img alt="login" src="assets/icons/audit-trail.svg" height="30" width="30">
  </button>
</div>


<button class="button-icon" (click)="isMovePlayersLocked.set(!this.isMovePlayersLocked())">
  <img alt="login" [src]=lockIcon() height="30" width="30">
</button>

<app-players-drag-drop-table
  [enableShowRatings]="true"
  [clonedTeams]="teams()"
  [isLocked]="isMovePlayersLocked()"
  (dropPlayer)="updateTeams($event)"
/>

<!--@if(adminControlService.getAdminControl().showAddPlayerForm) {-->
<!--  <app-add-new-player/>-->
<!--}-->

<app-stopwatch (timeStartEvent)="isMovePlayersLocked.set(true)"
               (timeEndEvent)="isTeamWinModalVisible.set(true)"/>

@if(isTeamWinModalVisible()) {
  <app-modal [showCloseIcon]="true" [showSubmitButton]="false" [showCloseButton]="false" (close)="isTeamWinModalVisible.set(false)">
    <app-game-details (endGame)="endGame($event)" [originalTeamNames]="originalTeamNames()"></app-game-details>
  </app-modal>
}

@if(isAuditTrailModalVisible()) {
  <app-modal [showSubmitButton]="false"
             (close)="isAuditTrailModalVisible.set(false)">
    <app-audit-trail></app-audit-trail>
  </app-modal>
}
