:host {
  display: block;
  padding: 40px 0;
}

.audit-trail-button {
  display: flex;
  justify-content: end;
  margin-right: 2rem;
  margin-top: 2rem;
}

app-capture-media {
  display: flex;
  justify-content: center;
}
