@if(adminControlService.isAdminModeEnabled()) {
<div class="center">
  <button class="action-btn active-btn" (click)="adminControlService.cleanAdminControlState()">Revert admin
    mode</button>
</div>
}
<div class="in-row center gap">
  <h1>Teams</h1>
</div>

<div class="space-between save-buttons gap">
  @if(adminControlService.getAdminControl().showSaveButtons) {
  <div>
    <button (click)="load()">Load local data</button>
    <button (click)="save()">Save local data </button>
  </div>
  <button (click)="saveGlobal()">Save Global</button>
  }
</div>

<div class="audit-trail-button">
  <button class="button-icon" (click)="isAuditTrailModalVisible.set(true)">
    <img alt="login" src="assets/icons/audit-trail.svg" height="30" width="30">
  </button>
</div>


<button class="button-icon" (click)="isMovePlayersLocked.set(!this.isMovePlayersLocked())">
  <img alt="lock" [src]=lockIcon() height="30" width="30">
</button>

@if(playersService.isGroupOwner()) {
<app-capture-media></app-capture-media>

}
<app-players-drag-drop-table
  [clonedTeams]="teams()"
  [isLocked]="isMovePlayersLocked()"
  [numberOfTeams]="playersService.numberOfTeams()"
  [enableShowRatings]="adminControlService.getAdminControl().showRating"
  [enableMakeBalancedTeams]="adminControlService.getAdminControl().showMakeBalanceTeams"
  [playerStatsMap]="gameService.computedStats()"
  [currentMatchId]="matchEventsService.liveMatchId()"
  [playingTeams]="playingTeams()"
  (recordGoalEvent)="recordGoalFromTimerHandler($event)"
  (playingTeamsChange)="playingTeams.set($event)"
  (dropPlayer)="updateTeams($event)" />

<app-stopwatch [disabled]="playingTeams().length !== 2" [disabledTooltip]="'Please select 2 teams'"
  (timeStartEvent)="onTimerStart()" (timeResetEvent)="onTimerReset()" (timeEndEvent)="endGameFromTimer()" />

@if(isAuditTrailModalVisible()) {
<app-modal [showSubmitButton]="false" (close)="isAuditTrailModalVisible.set(false)">
  <app-audit-trail></app-audit-trail>
</app-modal>
}


