<div class="center gap-10 manage-players-links">
  <a routerLinkActive="active" class="active-btn link-btn" routerLink="player-progress">Player progress</a>
  @if(managePlayersService.isAdmin()) {
    <span [matTooltipDisabled]="managePlayersService.isAllowToViewEditPages()"
          matTooltip="In order to see this page enable 'show protected pages' in admin control" >
          <a class="active-btn link-btn" routerLinkActive="active" [class.disabled]="!managePlayersService.isAllowToViewEditPages()"  routerLink="edit-player">Edit player</a>
    </span>
    <span  [matTooltipDisabled]="managePlayersService.isAllowToViewEditPages()" matTooltip="In order to see this page enable 'show protected pages' in admin control">
          <a routerLinkActive="active" class="active-btn link-btn" [class.disabled]="!managePlayersService.isAllowToViewEditPages()"  routerLink="edit-player-statistics">Edit last statistics</a>
    </span>
    <span [matTooltipDisabled]="managePlayersService.isAllowToViewEditPages()" matTooltip="In order to see this page enable 'show protected pages' in admin control">
          <a routerLinkActive="active" class="active-btn link-btn" [class.disabled]="!managePlayersService.isAllowToViewEditPages()" routerLink="reactivate-players">Reactivate players</a>
    </span>
  }
</div>
<div class="center gap-10 manage-player-header">
<!--  <label for="select-player">Select a player</label>-->
<!--  <select id="select-player" [(ngModel)]="managePlayersService.selectedPlayerOption" (change)="managePlayersService.onChangePlayer()">-->
<!--    @for(player of managePlayersService.allPlayersArray(); track player.name) {-->
<!--      <option>{{player.name}}</option>-->
<!--    }-->
<!--  </select>-->

  <label>
    <span>
       select player
    </span>
    <app-auto-complete [inputValue]="managePlayersService.selectedPlayer()?.name"
                       (optionCleaned)="managePlayersService.removeSelectedPlayer()"
                       [options]="managePlayersService.autoCompletePlayersOptions()"
                       (optionSelected)="managePlayersService.onChangePlayer($event)"></app-auto-complete>

  </label>
</div>

<router-outlet></router-outlet>
