form {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;

  input {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  label:has(input:required)::after {
    content: ' *';
    color: red;
    margin-right: 4px;
  }
}
