<h2>Add Player</h2>
<form
  [formGroup]="addNewPlayerService.playerForm"
  (ngSubmit)="submitAddNewPlayer()"
>
  <label>
    <input required #nameField formControlName="name" placeholder="Player Name">
  </label>
  <label>
    <input required formControlName="rating" type="number" placeholder="Rating">
  </label>
  <label>
    <input formControlName="email" type="email" placeholder="Email">
  </label>
  <label>
    <input formControlName="isGuest" type="checkbox">
    Guest
  </label>
  <button [disabled]="addNewPlayerService.playerForm.invalid" [class.disabled]="addNewPlayerService.playerForm.invalid" class="active-btn submit-btn" type="submit">Add Player</button>
</form>
