<h2>Add Player</h2>
<form
  [formGroup]="addNewPlayerService.playerForm"
  (ngSubmit)="submitAddNewPlayer()"
>
  <label>
    <input required #nameField formControlName="name" placeholder="Player Name" [maxlength]="playerNameMaxLength">
  </label>
  <label>
    <input required formControlName="rating" type="number" placeholder="Rating (1-10)" min="1" max="10">
    @if (addNewPlayerService.playerForm.get('rating')?.invalid && addNewPlayerService.playerForm.get('rating')?.touched) {
      <div class="input-error">
        @if (addNewPlayerService.playerForm.get('rating')?.hasError('required')) { Rating is required }
        @if (addNewPlayerService.playerForm.get('rating')?.hasError('min') || addNewPlayerService.playerForm.get('rating')?.hasError('max')) { Rating must be between 1 and 10 }
      </div>
    }
  </label>
  <label>
    <input formControlName="email" type="email" placeholder="Email">
  </label>
  <label>
    <input formControlName="isGuest" type="checkbox">
    Guest
  </label>
  <button [disabled]="addNewPlayerService.playerForm.invalid" [class.disabled]="addNewPlayerService.playerForm.invalid" class="active-btn submit-btn" type="submit">Add Player</button>
</form>
