<div class="game-details">
  <h2>Please fill game details: </h2>
  <div>
    <label for="'gameStatus'"> Game status</label>
    <select id="'gameStatus'" [(ngModel)]="selectedEndGameStatus">
      <option [value]="'decided'">decided</option>
      <option [value]="'draw'">draw</option>
    </select>
  </div>

  @if(selectedEndGameStatus()) {
    <div>
      @if(selectedEndGameStatus() === 'decided') {
        <label for="'firstTeam'">Winner:</label>
      } @else {
        <label for="'firstTeam'">Select first team:</label>
      }
      <div class="center in-row">
      <select id="'firstTeam'" [(ngModel)]="selectedWonTeam">
        @for(team of winTeamOptions(); track team) {
          <option [value]="team">{{team}}</option>
        }
      </select>
      <input min="0" [class.score-error]="hasScoreError()" [(ngModel)]="wonTeamScore" class="score-input" placeholder="score" type="number">
      </div>
    </div>

    <div>
      @if(selectedEndGameStatus() === 'decided') {
        <label for="'secondTeam'">Loser:</label>
      } @else {
        <label for="'secondTeam'">Select second team</label>
      }
      <div class="center in-row">
      <select id="'secondTeam'" [(ngModel)]="selectedLoseTeam">
        @for(team of loseTeamOptions(); track team) {
          <option [value]="team">{{team}}</option>
        }
      </select>
        <input min="0" [class.score-error]="hasScoreError()" [(ngModel)]="loseTeamScore" class="score-input" placeholder="score" type="number">
      </div>
    </div>

    <button [class.disabled]="isSubmitButtonDisabled()" class="active-btn submit-btn" [disabled]="isSubmitButtonDisabled()" (click)="EndGame()">submit</button>
  }
    </div>
