
<h1>Teams</h1>
<button (click)="load()">load previous saved status</button>
<div>
  <h2>Add Player</h2>
  <form [formGroup]="playerForm" (ngSubmit)="addPlayer()">
    <input #nameField formControlName="name" placeholder="Player Name">
    <input formControlName="rating" type="number" placeholder="Rating">
    <button type="submit">Add Player</button>
  </form>

  <div class="all-teams-container">
  <div class="list-container">
    <h2>A</h2>
    <h5>{{teams.teamA.totalRating}}</h5>
    <div
      id="teamA"
      cdkDropList
      #teamAList="cdkDropList"
      [cdkDropListData]="teams.teamA.players"
      [cdkDropListConnectedTo]="[teamBList, playersList, teamCList]"
      class="list"
      (cdkDropListDropped)="drop($event)">
      @for (item of teams.teamA.players; track item) {
        <div class="box" cdkDrag>{{item.name}} - {{item.rating}}</div>
      }
    </div>
    </div>

  <div class="list-container">
    <h2>B</h2>
    <h5>{{teams.teamB.totalRating}}</h5>
    <div
      id="teamB"
      cdkDropList
      #teamBList="cdkDropList"
      [cdkDropListData]="teams.teamB.players"
      [cdkDropListConnectedTo]="[teamAList, playersList, teamCList]"
      class="list"
      (cdkDropListDropped)="drop($event)">
      @for (item of teams.teamB.players; track item) {
        <div class="box" cdkDrag>{{item?.name}} - {{item?.rating}}</div>
      }
    </div>
    </div>

    <div class="list-container">
      <h2>C</h2>
      <h5>{{teams.teamC.totalRating}}</h5>
      <div
        cdkDropList
        id="teamC"
        #teamCList="cdkDropList"
        [cdkDropListData]="teams.teamC.players"
        [cdkDropListConnectedTo]="[teamAList, teamBList, playersList]"
        class="list"
        (cdkDropListDropped)="drop($event)">
        @for (item of teams.teamC.players; track item) {
          <div class="box" cdkDrag>{{item?.name}} - {{item?.rating}}</div>
        }
      </div>
    </div>
    </div>

    <h2>Players</h2>
    <div
      cdkDropList
      id="allPlayers"
      #playersList="cdkDropList"
      [cdkDropListData]="teams.allPlayers.players"
      [cdkDropListConnectedTo]="[teamAList, teamBList, teamCList]"
      class="box available-player"
      (cdkDropListDropped)="drop($event)">
      @for (item of teams.allPlayers.players; track item; let idx = $index) {
        <div class="box" cdkDrag>{{item?.name}} - {{item?.rating}}
          <span class="remove-player" (click)="removeFromList('allPlayers', idx)">X</span>
        </div>
      }
    </div>

    </div>

<button (click)="save()"> save </button>
