
<h1 class="center">Teams</h1>

<div class="in-row">
<button class="mrg" (click)="load()">load previous saved status</button>
<button class="mrg" (click)="toggleShowHideRating()">Toggle Admin Mode</button>
</div>

<app-players-drag-drop-table [isAdminMode]="isAdminMode()"></app-players-drag-drop-table>
@if(isAdminMode()) {
  <h2>Add Player</h2>
  <form [formGroup]="playerForm" (ngSubmit)="addPlayer()">
    <input #nameField formControlName="name" placeholder="Player Name">
    <input formControlName="rating" type="number" placeholder="Rating">
    <button type="submit">Add Player</button>
  </form>
}
<button (click)="save()"> save </button>




<app-stopwatch (timeEndEvent)="showTeamWinModal()"></app-stopwatch>

@if(isTeamWinModalVisible()) {
  <app-modal [showCloseIcon]="true" [showSubmitButton]="false" [showCloseButton]="false" (close)="closeTeamWinModal()">
    <app-game-details (endGame)="endGame($event)" [originalTeamNames]="originalTeamNames()"></app-game-details>
  </app-modal>
}

@if(isAdminCodeModalVisible()) {
  <app-modal [showCloseButton]="false" (submit)="codeModalSubmitted()" (close)="closeAdminCodeModal()">
    <input placeholder="code" [(ngModel)]="code">
  </app-modal>
}
