<header>
  <h2>Team Drafting</h2>
  <a [routerLink]="'/'">Home </a>
</header>

<main>
@if(!isCompleted()) {

@if(!isMyTurn()) {
    <div class="dots-loader">
        <div>
            Waiting for other members to select a player
        </div>
        <div class="dots-container">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </div>
} @else {
  <p class="your-turn-text">It's your turn to select a player</p>
}

} @else {
  <p>completed</p>
}

<div class="teams">
  @for(i of range(); track i) {
    <div>
      <h3>Team {{ i + 1 }}</h3>
      <ul>
        @for(player of session()?.teams['team' + i]; track player.name) {
          <li>{{ player.name }}</li>
        }
      </ul>
    </div>
  }

</div>

    <section class="unassigned-players">

@if(!isCompleted()) {
  <h3>Unassigned Players</h3>
  <ul>
    @for(player of session()?.unassignedPlayers; track player.name) {
            <li>
                <div class="player-name">
                 {{ player.name }}
                </div>
                @if(isMyTurn()) {
                    <button class="active-btn action-btn" (click)="assignPlayer(player)">
                        take
                    </button>
                }
            </li>
    }
  </ul>
}

    </section>
</main>
