<header>
  <h2>Team Drafting</h2>
  <a [routerLink]="'/'">Home </a>
</header>

@if(session()?.selectionMethod.isSnakeMode) {
  <div class="center">
    <h5 class="mrg">Snake mode</h5>
    <small>Selection order 1,2,3,3,2,1 ...</small>
  </div>
}

@if(isCompleted()) {
  <div class="center completed-session">
    <h2>Completed</h2>
  </div>
}

<main>
  @if(!session()) {
    <h1>Something went wrong, please make sure you have the right permissions</h1>
  }
  @else {
@if(!isCompleted()) {
@if(!isMyTurn()) {
    <div class="dots-loader">
        <div>
            Waiting for other members to select a player
        </div>
        <div class="dots-container">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </div>
} @else {
  <p class="your-turn-text">It's your turn to select a player</p>
}
}

<div class="teams">
  @for(i of range(); track i) {
    <div>
      <h3>Team {{ i + 1 }}</h3>
      <ul>
        @for(player of session()?.teams['team' + i]; track player.name) {
          <li>{{ player.name }}</li>
        }
      </ul>
    </div>
  }

</div>

    <section class="unassigned-players">

@if(!isCompleted()) {
  <h3>Unassigned Players</h3>
  <ul>
    @for(player of session()?.unassignedPlayers; track player.name) {
       <li><button [disabled]="!isMyTurn()" class="active-btn action-btn" (click)="assignPlayer(player)"> {{ player.name }} </button> </li>
    }
  </ul>
}
    </section>
  }
</main>

<lib-chat [messages]="messages()" [notify]="notify()" (messageSent)="sendMessage($event)"/>
