:host {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

header {
  margin-bottom: 10px;
}

.whatsapp-btn {
  margin-left: 8px;
  border: none;
  background: none;
  cursor: pointer;
}

app-grid {
  display: block;
  max-width: 500px;
  margin-bottom: 10px;
}
