/* You can add global styles to this file, and also import other style files */

.hidden {
  display: none;
}
.in-row {
  display: flex;
}

.mrg {
  margin: 5px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.gap {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.hide {
  display: none;
}

.button-icon {
  cursor: pointer;
  background-color: white;
  border: none;
}

  .active {
    background-color: cornflowerblue !important;
    color: white !important;
  }

main {
  margin-bottom: 1rem;
}
footer {
  margin-top: 1rem;
}

::-webkit-scrollbar {
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 3px;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.mat-mdc-tooltip {
  background: rgba(97, 97, 97, 0.9) !important;
  color: white;
  font-size: 14px;
  text-align: center;
}

a {
  color: #0d6efd;
  text-decoration: none;
}
html, body { height: 90vh; }
body {
  margin: 0;
  padding: 20px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
