/* You can add global styles to this file, and also import other style files */

.hidden {
  display: none;
}
.in-row {
  display: flex;
}

.mrg {
  margin: 5px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.gap {
  gap: 5px;
}

.hide {
  display: none;
}

html, body { height: 90vh; }
body { margin: 0; padding: 20px; font-family: Roboto, "Helvetica Neue", sans-serif; }
