/* You can add global styles to this file, and also import other style files */

.hidden {
  display: none;
}
.in-row {
  display: flex;
}

.mrg {
  margin: 5px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.gap {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.hide {
  display: none;
}

.button-icon {
  cursor: pointer;
  background-color: white;
  border: none;
}

  .active {
    background-color: cornflowerblue !important;
    color: white !important;
  }

main {
  margin-bottom: 1rem;
}
footer {
  margin-top: 1rem;
}

html, body { height: 90vh; }
body { margin: 0; padding: 20px; font-family: Roboto, "Helvetica Neue", sans-serif; }
