:host {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin: 15px;
}

input {
  text-align: center;
}

.invalid {
  border-color: red;
}

.continue {
  margin-top: 30px;
}
.delete-all {
  margin-top: 30px;
  font-size: 10px;
}
